:root {
    --green: #5B7343;
    --light-green: #B1BF93;
    --yellow: #D6D989;
    --yellow-down:#fbfdba;
    --beige: #f6f2e9;
    --red: #A66565;
    --text: #5B7343;
    --shadow-color: 79deg 26% 66%;
    --shadow-1-elevation-low: 0px 0.2px 0.2px hsl(var(--shadow-color) / 0.34), 0px 0.4px 0.5px -1.2px hsl(var(--shadow-color) / 0.34), 0px 0.9px 1px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-1-elevation-medium: 0px 0.2px 0.2px hsl(var(--shadow-color) / 0.36), 0px 0.7px 0.8px -0.8px hsl(var(--shadow-color) / 0.36), 0px 1.8px 2px -1.7px hsl(var(--shadow-color) / 0.36), 0.1px 4.5px 5.1px -2.5px hsl(var(--shadow-color) / 0.36);
    --shadow-1-elevation-high: 0px 0.2px 0.2px hsl(var(--shadow-color) / 0.34), 0px 1.3px 1.5px -0.4px hsl(var(--shadow-color) / 0.34), 0.1px 2.4px 2.7px -0.7px hsl(var(--shadow-color) / 0.34), 0.1px 4px 4.5px -1.1px hsl(var(--shadow-color) / 0.34), 0.1px 6.4px 7.2px -1.4px hsl(var(--shadow-color) / 0.34), 0.2px 10px 11.3px -1.8px hsl(var(--shadow-color) / 0.34), 0.3px 15.1px 17px -2.1px hsl(var(--shadow-color) / 0.34), 0.5px 22.3px 25.1px -2.5px hsl(var(--shadow-color) / 0.34);
}

@font-face {
    font-family: 'Amalfi-Coast';
    src: url('assets/fonts/Amalfi-Coast.ttf.woff') format('woff'),
        url('assets/fonts/Amalfi-Coast.ttf.svg#Amalfi-Coast') format('svg'),
        url('assets/fonts/Amalfi-Coast.ttf.eot'),
        url('assets/fonts/Amalfi-Coast.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    margin: 0px;
}

/* Makes sure everything is centered. Always. */
section,
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

/* Sets minimum height for the sections, so they look better  */
section {
    overflow: hidden;
    min-height: 90vh;
}

/* Basic font settings  */
h1,
h2,
h3,
p {
    font-family: 'Cormorant Garamond', serif;
    color: var(--text);
    font-weight: 400;
}

h1 a,
h1 a:visited {
    color: var(--text);
    display: inline-block;
    transition:all 0.75s ease-in-out;
}
h1 a:hover {
    color: var(--red);
}

/* Settings for the first row of every page */
section.hero {
    background-color: var(--beige);
    height: 100vh;
}

/* Non-hero sections */
section.standard {
    padding: 12rem;
    z-index: 2;
    background-color: white;
}

/* All images that need to stay on top of other elements  */
.img-over {
    display: block;
    position: absolute;
    pointer-events: none;
}

/* Images in the hero that need to stay below other rows when scrolling */
section.hero .img-over {
    /* position: fixed; */
    z-index: 1;
}

/* Stick images to specific positions */
.img-top {
    top: 0%;
}

.img-bottom {
    bottom: 0%
}

.img-right {
    right: 0%;
}

.img-left {
    left: 0%;
}

/***
HOME
***/

/* Font settings for the main title */
.home h1 {
    font-family: 'Amalfi-Coast';
    text-align: center;
    line-height: 1.05em;
    font-size: 5rem;
    letter-spacing: .5px;
    color: var(--green);
}

/* Set height for images on the hero section */
.home .hero .img-top.img-left {
    height: 45vh;
}

.home .hero .img-top.img-right {
    height: 30vh;
}

.home .hero .img-bottom.img-left {
    height: 60vh;
}

.home .hero .img-bottom.img-right {
    height: 70vh;
}

/* Sets the wedding date below the h1 */
.home .date {
    color: var(--green);
    font-size: 2.2rem;
    margin-top: 2rem;
}

h1,
p.bigtext {
    font-size: 4rem;
    /* line-height: 1.2rem; */
    padding: 0px;
    margin: 0px;
}

p.hugetext {
    font-size: 5rem;
    padding: 0px;
    margin: 0px;
}

.daje {
    font-weight: bolder;
    font-style: italic;
}

p.subtext,
ul.subtext {
    font-size: 1.5rem;
    margin: 0px;
    color: var(--green);
    text-align: center;
}

ul.subtext {
    list-style-position: inside;
    padding-left: 0;
    color: var(--green);
    text-align: left;
}

a:visited {
    color: var(--text);
}

section.alt {
    background-color: var(--beige);
    padding: 12rem 10em;
}

p.subtext a,
ul.subtext a {
    color: var(--text);
    font-weight: bolder;
    text-align: left;
}

p.subtext a:hover,
ul.subtext a:hover {
    color: var(--red);
}

a.button {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.1rem;
    margin-top: 3rem;
    text-decoration: none;
    color: white;
    background: var(--green);
    padding: 20px 30px;
    border-radius: 500px;
    display: inline-block;
    /* border-bottom: solid 5px transparent; */
    box-shadow: var(--shadow-1-elevation-medium);
    transition: all 1s ease-in-out, box-shadow 0.5s ease-in-out;
}

a.button:hover {
    /* border-bottom:solid 5px var(--light-green); */
    box-shadow: var(--shadow-1-elevation-high);
    transform: scale(1.05);
}

a.bigtext.button,
a.bigtext.button span {
    color: white !important;
}

/***
PAGE WHERE
***/

.internal .hero .img-bottom.img-right {
    width: 60vw;
    z-index: 0;
    right: -10%;
    bottom: -10%;
}

div.navigation {
    position: fixed;
    display: flex;
    flex-direction: row;
    /* width: 80vw; */
    height: 70px;
    bottom: 5%;
    z-index: 4;
}

div.navigation a,
div.navigation a:any-link,
div.navigation a:visited {
    color: var(--green);
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.4em;
    text-decoration: none;
    font-weight: 500;
    border-bottom: solid 1px transparent;
    transition: all 1s ease-in-out;
}

.internal section.hero {
    padding: 0em 10em;
}

.internal h1 {
    z-index: 1;
}

/***
HONEYMOON
***/

.honeymoon div.navigation {
    width:80vw;
justify-content: space-between;
}
.honeymoon h1 {
    margin-bottom: 4rem
}


/***
TEXT HIGHLIGHT
***/

::-moz-selection {
    /* Code for Firefox */
    background: var(--yellow-down);
}

::selection {
    background: var(--yellow-down);
}

/***
ANIMATIONS
***/

.arrow-bounce {
    position: absolute;
    color: var(--dark-green);
    bottom: 4rem;
}

.arrow-bounce i {
    opacity: 50%;
}


.focus-in {
    -webkit-animation: focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    animation: focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530);
}

@-webkit-keyframes focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.slide-in-blurred-tr {
    -webkit-animation: slide-in-blurred-tr 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-tr 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes slide-in-blurred-tr {
    0% {
        -webkit-transform: translate(1000px, -1000px) skew(0deg, 0deg);
        transform: translate(1000px, -1000px) skew(0deg, 0deg);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translate(0, 0) skew(0deg, 0deg);
        transform: translate(0, 0) skew(0deg, 0deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-tr {
    0% {
        -webkit-transform: translate(1000px, -1000px) skew(0deg, 0deg);
        transform: translate(1000px, -1000px) skew(0deg, 0deg);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translate(0, 0) skew(0deg, 0deg);
        transform: translate(0, 0) skew(0deg, 0deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slide-in-blurred-br {
    -webkit-animation: slide-in-blurred-br 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-br 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes slide-in-blurred-br {
    0% {
        -webkit-transform: translate(1000px, 1000px) skew(0deg, 0deg);
        transform: translate(1000px, 1000px) skew(0deg, 0deg);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translate(0, 0) skew(0deg, 0deg);
        transform: translate(0, 0) skew(0deg, 0deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-br {
    0% {
        -webkit-transform: translate(1000px, 1000px) skew(0deg, 0deg);
        transform: translate(1000px, 1000px) skew(0deg, 0deg);
        -webkit-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translate(0, 0) skew(0deg, 0deg);
        transform: translate(0, 0) skew(0deg, 0deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slide-in-blurred-bl {
    -webkit-animation: slide-in-blurred-bl 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-bl 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes slide-in-blurred-bl {
    0% {
        -webkit-transform: translate(-1000px, 1000px) skew(0deg, 0deg);
        transform: translate(-1000px, 1000px) skew(0deg, 0deg);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translate(0, 0) skew(0deg, 0deg);
        transform: translate(0, 0) skew(0deg, 0deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-bl {
    0% {
        -webkit-transform: translate(-1000px, 1000px) skew(0deg, 0deg);
        transform: translate(-1000px, 1000px) skew(0deg, 0deg);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translate(0, 0) skew(0deg, 0deg);
        transform: translate(0, 0) skew(0deg, 0deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

.slide-in-blurred-tl {
    -webkit-animation: slide-in-blurred-tl 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-tl 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@-webkit-keyframes slide-in-blurred-tl {
    0% {
        -webkit-transform: translate(-1000px, -1000px) skew(0deg, 0deg);
        ;
        transform: translate(-1000px, -1000px) skew(0deg, 0deg);
        ;
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translate(0, 0) skew(0deg, 0deg);
        transform: translate(0, 0) skew(0deg, 0deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes slide-in-blurred-tl {
    0% {
        -webkit-transform: translate(-1000px, -1000px) skew(0deg, 0deg);
        ;
        transform: translate(-1000px, -1000px) skew(0deg, 0deg);
        ;
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        -webkit-filter: blur(40px);
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translate(0, 0) skew(0deg, 0deg);
        transform: translate(0, 0) skew(0deg, 0deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}


/** Duration **/

.dur-2 {
    animation-duration: 2s;
}

.dur-250 {
    animation-duration: 2.50s;
}

.dur-3 {
    animation-duration: 3s;
}

.dur-350 {
    animation-duration: 3.50s;
}

.dur-4 {
    animation-duration: 4s;
}

/***
RESPONSIVENESS
***/
@media (max-width: 1200px) {
    .home h1 {
        font-size: 4rem;
    }
}

@media (max-width: 992px) {
    .home h1 {
        font-size: 2.5rem;
    }

    .home .hero .img-top.img-left {
        height: 40vh;
    }

    .home .hero .img-top.img-right {
        height: 40vh;
    }

    .home .hero .img-bottom.img-left {
        height: 50vh;
    }

    .home .hero .img-bottom.img-right {
        height: 50vh;
    }

    h1,
    p.bigtext {
        font-size: 3rem;
    }

    section.standard {
        padding: 8rem;
    }
}

@media (max-width: 768px) {

    h1,
    p.bigtext,
    p.hugetext {
        font-size: 2rem;
    }

    .internal section.hero {
        padding: 0 5rem;
    }

    .internal .hero .img-bottom.img-right {
        height: 65vw;
        width: auto;
    }

    section.standard {
        padding: 5rem;
    }
}

@media (max-width: 576px) {
    .home section.hero .img-top.img-left {
        height: 35vw;
    }

    .home section.hero .img-top.img-right {
        height: 40vw;
    }

    .home section.hero .img-bottom.img-left {
        height: 0vw;
    }

    .home section.hero .img-bottom.img-right {
        height: 75vw;
    }

    .home h1 {
        font-size: 2rem;
    }

    .home .bounce {
        display: none;
    }

    .internal .navigation {
        position: fixed;
    }
}

a[href^="tel"]{
    color:inherit;
    text-decoration:none;
}

/***
TABLE SCHEDULE
***/

table {
    width: 100%;
    max-width: 1200px;
    border-collapse: collapse;
    margin: 2rem 0;
    font-family: 'Work Sans', sans-serif;
}

table thead th {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.5rem;
    color: var(--green);
    font-weight: 600;
    padding: 1.5rem 1rem;
    text-align: center;
    border-bottom: solid 2px var(--light-green);
}

table tbody td {
    padding: 1.2rem 1.5rem;
    vertical-align: top;
    border-bottom: solid 1px var(--beige);
    color: var(--text);
}

table tbody td:first-child {
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    color: var(--green);
    width: 25%;
    text-align: left;
}

table tbody td:last-child {
    font-size: 1rem;
    font-weight: 300;
    width: 75%;
    text-align: left;
}

table tbody tr:last-child td {
    border-bottom: none;
}

table tbody tr:hover {
    background-color: var(--beige);
    transition: background-color 0.3s ease-in-out;
}

/***
CONSTRAINED TEXT
***/

.constrained-text {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}